RewriteEngine on

RewriteRule ^index index.php
RewriteRule ^regisztracio regisztracio.php
RewriteRule ^szolgaltatasok szolgaltatasok.php
RewriteRule ^galeria galeria.php
RewriteRule ^bejelentkezes bejelentkezes.php
RewriteRule ^kijelentkezes kijelentkezes.php
RewriteRule ^profil profil.php
RewriteRule ^rolunk rolunk.php